name: "CI"
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Run command on remote server
        uses: D3rHase/ssh-command-action@v0.2.2
        with:
          host: ${{secrets.SSH_HOST}}
          user: ${{secrets.SSH_USER}}
          private_key: ${{secrets.SSH_PRIVATE_KEY}}
          command: |
            cd ${{ secrets.PROJECT_FOLDER }};
            git checkout main;
            git pull;
            
            rm -f .env;
             
            echo PS_DB_PASSWORD=${{ secrets.PS_DB_PSWD }} > .env;
            echo PS_DB_NAME=${{ secrets.PS_DB_NAME }} >> .env;
            echo PS_DB_USER=${{ secrets.PS_DB_USER }} >> .env;
            
            docker-compose --file docker-compose.yml down;
            docker-compose --profile prod --file docker-compose.yml --env-file .env up -d --build;
            docker system prune --all --force;
            rm -f .env;